@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

:root{
    --black:#000;
    --lil-green:#D0DEBF;
    --green3:#A1BD92;
    --green2:#729B64;
    --main-color:#437A37;
    --white: #FFFFED;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
}

html{
    height: 100%;
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    background: var(--main-color);
}

.tela{
    width: 100%;
    height: 100%;
}

.ima{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btns{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.btns .login{
    border: 2px solid var(--white);
    padding: 1rem 15rem;
    border-radius: 10px;
    color: var(--black);
    font-weight: bold;
    background: var(--white);
    font-size: 15px;
}